body {
  background-color: #030017;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 55pt;
  margin: 25pt 0;
  text-decoration: underline #f4ff21;
  padding: 3px;
  letter-spacing: 8px;
  color: #ff3dd8;
  text-shadow: 
    0 0 5px #ff3d7f,
    0 0 2px #ff3d7f,
    0 0 5px #ff3d7f,
    0 0 20px rgba(255, 61, 127, 0.5);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28pt;
  padding: 0px;
  font-style:italic;
  letter-spacing: 7px;
  color: #fffac5;
  text-shadow: 
    0 0 2px #fffac5,
    0 0 2px #fffac5,
    0 0 5px #fffac5,
    0 0 2px #fffac5;
}